<h3 class="page-header">Book Details</h3>

<div>
    <h4><%= book.title %></h4>
    <div>
        <img src="<%= book.coverImagePath %>" style="object-fit: cover;" height="250px" width="250px" alt="book image">

        <div class="btn-row">
            <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit Book</a>
            <%- include('../partials/deleteButton.ejs',{
            action_url:`/books/${book.id}`
        }) %>
            <a class="btn btn-primary" href="/authors/<%= book.author.id%>">View Author</a>
        </div>

    </div>
    <div>
        <p>
            <strong>Author: </strong>
            <span><%= book.author.name %></span>
        </p>
        <p>
            <strong>Published: </strong>
            <span><%= book.publish_at.toDateString() %></span>
        </p>
        <p>
            <strong>Page Count: </strong>
            <span><%= book.page_count %></span>
        </p>
        <p>
            <strong>Description:</strong>
            <span><%= book.description %></span>
        </p>
    </div>
</div>