<h3 class="page-header">Book Details</h3>
<h4><%= book.title %></h4>

<div class="book-panels">
    <div class="book-details-panel-1">
        <span >
            <img class="book-cover" src="<%= book.coverImagePath %>" alt="book image">
        </span>

        <div class="btn-book-actions">
            <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit Book</a>
            <%- include('../partials/deleteButton.ejs',{
            action_url:`/books/${book.id}`
        }) %>
            <a class="btn btn-primary view-author-btn" href="/authors/<%= book.author.id%>">View Author</a>
        </div>
    </div>
    <div class="book-details-panel-2">
        <p>
            <strong>Author: </strong>
            <span><%= book.author.name %></span>
        </p>
        <p>
            <strong>Published: </strong>
            <span><%= book.publish_at.toDateString() %></span>
        </p>
        <p>
            <strong>Page Count: </strong>
            <span><%= book.page_count %></span>
        </p>
        <p>
            <strong>Description:</strong>
            <span><%= book.description %></span>
        </p>
    </div>
</div>