<% bookCoverSize = locals.large ?"book-cover-large":"" %>
<% bookGridSize = locals.large ?"book-grid-large":"" %>


<div class=" book-grid <%=bookGridSize %>">
    <% books.map(book => {%>
    <div class="book-cover <%=bookCoverSize %>">
        <p><%=book.title %></p>
        <p><%=book.publish_at.toDateString() %></p>
        <img src="<%= book.coverImagePath %>" style="object-fit: cover;" height="250px" width="250px" alt="book image">
    </div>
    <%})%>
</div>