<h2 class="page-header">All Authors</h2>

<h4>Search Authors</h4>
<form class="" action="/authors" method="GET">
    <div class="form-row">
        <span class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= searchOptions.name%>">
        </span>
    </div>
    <div class=" form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>


<% authors.map(author => { %>
<div class="author-row">
    <p class="author-name">Name: <%= author.name %> || Email:<%= author.email %> </p>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author._id%>">View</a>
        <a class="btn btn-primary" href="/authors/<%= author._id%>/edit">Edit</a>
        <%- include('../partials/deleteButton.ejs',{
    action_url:`/authors/${author._id}`
}) %>
    </div>
</div>

<%}) %>